*,*::after,*::before{
  box-sizing: border-box;
  margin: 0px;
}
.App {
  text-align: center;
  
}
.App-header {
  background-color: #948d8a;
  color: rgb(241, 12, 12);
  font-weight: bold;
}
#theme{
  min-height: 100vh;
}
#buttons{
  /* background-image: url('./assets/wave1.svg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  text-align: right;
}
#content{
  /* padding-bottom: 300px; */
  opacity: 1;
  font-size: 1.3em;
  border: 1px solid rgba(85, 36, 201, 0.384);
  display: flex;
  flex-direction: row;
    background-image: url('./assets/wave1.svg');
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}
@media only screen and (max-width:600px){
  #content{
  /* padding-bottom: 300px; */
  font-size: 1em;
  border: 1px solid rgba(85, 36, 201, 0.384);
  display: flex;
  flex-direction: column;
}
}
#content>div{
  flex: 50%;
  min-height: 50vh;
  padding-top: 50px;
}
#content-text{
  display: flex;
  align-items: flex-end;

}
#content-text-head{
  line-height: 3em;
  font-size: 1.5em;
}
#content-text-head::first-letter{
  font-size: 3em;
  font-weight: bold;
  color:red;
}
#content-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px solid rgba(85, 36, 201, 0.384);
  border-radius: 10px;
}
table,tr,th,td{
  border: 2px solid rgba(85, 36, 201, 0.384);
  border-collapse: collapse;
}
table{
  width: 100%;
}
@media only screen and (max-width:600px){
  
}